body {
    margin: 0;
    color: #82a5ca;
    text-align: center;
    font-family: 'orbitron', sans-serif;
}
#hero {
    background-image:url("galaxy.webp");
    background-size: cover;
    padding: 10px 0 40px 0; 
    height: 70vh;
}
#main-logo {
    width: 300px;
}
#title {
    text-shadow: 0px 0px 250px black;
}
.btn {
    padding: 6px 12px;
    background: white;
    border: none;
    font-family: 'orbitron', sans-serif;
    color: #82a5ca;
    font-weight: 800;
}
.underline {
    border-bottom: 4px solid white;
}
